*
{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar
{
    height: 60px;
    width: 100%;
    background: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo
{
    height: 50px;
    width: 100px;
}
.logo
{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
    margin: 1px;
}
.border
{
    border: 1.5px solid transparent;
}
.border:hover
{
    border: 1.5px solid white;
}
/* Box 2*/ 

#deliver
{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 0.85rem;
    color: #cccccc;
}
.india
{
    font-size: 1rem;
    margin-left: 3px;
}
.map
{
    margin-left: 10px;
    height: 50px;
    width: 90px;
    align-items: center;
}

.map-icon
{
    display: flex;
    align-items: center;
}

/* 3 Box*/

.nav-search
{
    display: flex;
    width: 490px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #0f1111;
}
.nav-search:hover
{
    border:  2px solid orange;
}

.search-select
{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #f3f3f3;
    border: none;
    width: 50px;
    height: 40px;
    text-align: center;
}
.all
{
    color: #0f1111;
}
.search-input
{
    border: none;
    width: 390px;
    font-size: 1rem;
}
.search-icon
{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    color: #0f1111;
}

/*6:19 */
/* Third Box*/

.country
{
    height: 50px;
    width: 70px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1.5px solid transparent;
}
.india
{
    height:16px;
    width: 20px;
}
.EN
{
    color: #ffffff;
    font-size: 0.875rem;
}
.down
{
    color: #f3f3f3;
}
/* Fourth Box*/
.nav-signin
{
    height: 50px;
    width: 130px;
    background-color: #0f1111;
    padding-top: 8px;
    padding-left: 10px;
}
.nav-returns
{
    height: 50px;
    width: 76px;
    background-color: #0f1111;
    padding-top: 8px;
    padding-left: 10px;

}
span
{
    font-size: 0.75rem;
}
.nav-second
{
    font-size: 0.875rem;
    font-weight: 700;
}
/* 4 box*/
.cart
{
    height: 50px;
    width: 84px;
    display: flex;
    font-size: 0.875rem;
    font-weight: 700;
    align-items: center;
    justify-content:space-evenly ;
}
.cart i 
{
    font-size: 30px;
}

/* Panel*/

.panel
{
    background: #232f3e;
    display: flex;
    height: 40px; 
    align-items: center;
    justify-content: space-evenly;
}
.panel-all
{
    height: 38px;
    width: 60px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 700;
    font-family: Arial, sans-serif;
}
.panel-ops
{
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}
.panel-ops p
{
    color: #ffffff;
    display: inline;
    margin-right: 10px;

}

/* Hero Section*/

.hero-section
{
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    position: relative;
    
}
.tag
{
    height: 40px;
    width: 90%;
    background-color: #f5f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 275px;
    font-size: 0.875rem;
   
}
.tag a
{
    text-decoration: none;
    color: #007185;
}

/* shop section*/ 
.shop-section
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E4E4E4;
}
.box
{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0 15px;
    margin-top: 15px;
}
.box1-image
{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem
    
}
.box-content
{
    margin-left: 10px;
    margin-right: 10px;
}
.shop-section p
{
    color: #007185
}

/* scrollbar*/
.container
{
    height: 280px;
    padding: 20px 0;
    background-color: #E4E4E4;
    white-space: nowrap;
    overflow: auto;
    position: relative;
    

}
    

.container::-webkit-scrollbar {
    height: 10px;
}

.container::-webkit-scrollbar-track {
    background: #f2f2f2;
}

.container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.images
{
    height: 250px;
    margin-left: 20px;
    margin-right: 15px;
    background-color: white;
    padding: 10px;
    display: inline-block;
    
}
.images h2
{
    margin-bottom: 1rem;
}

/*footer*/
footer
{
    margin-top: 15px;
}
.footer1
{
    height: 50px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
}
.footer2 
{
    background-color: #222f3d;
    height: 300px;
    color: white;
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    
}
ul a
{
    text-decoration: none;
    color: #dddddd;
    font-size: 0.875rem;
    display: block;
    margin-top: 1rem;
}
.footpanel3
{
    height: 70px;
    border-top: 0.5px solid white;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    color: #cccccc;
    position: relative;
}
.logo-2
{
    position: absolute;
    left: 350px;
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    margin: 1px;
}
.boxglobe
{
    position: absolute;
    left: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 34px;
    width: 100px;
    border: 1px solid #cccccc;
    font-size: 0.81rem;
}
.dollar
{
    position: absolute;
    left: 660px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 34px;
    width: 120px;
    border: 1px solid #cccccc;
    font-size: 0.81rem;
}
.US
{
    position: absolute;
    left: 790px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 34px;
    width: 120px;
    border: 1px solid #cccccc;
    font-size: 0.81rem;
}
.footpanel4
{
    height: 70px;
    background-color: #0f1111;
    color: #cccccc;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    font-size: 0.7rem;

}

.footpanel4 a
{
    
    margin-right: 20px ;
}

.footer a:hover
{
    text-decoration: underline;
}
.copyright
{
    margin-top: 10px;
   
}